<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta th:replace="~{admin/fragment/head :: head}">
    <title>Country Add</title>
</head>
<body>
<div th:replace="~{admin/fragment/menu :: menu}"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form th:action="@{/admin/users/updateuser}" method="post" th:object="${user}">
                <input type="hidden" name="id"  th:field="*{id}">
                <input type="hidden" name="username"  th:field="*{username}">

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" required th:field="*{email}" name="email" id="email"  placeholder="Enter email">

                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" required th:field="*{password}" name="password" id="password"  placeholder="Enter password">

                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{admin/fragment/script :: script}"></div>
</body>
</html>