<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta th:replace="~{admin/fragment/head :: head}">
    <title>Users</title>
</head>
<body>
<div th:replace="~{admin/fragment/menu :: menu}"></div>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user, iStat : ${users}">
            <th scope="row" th:text="${user.id}">1</th>
            <td th:text="${user.username}">Larry</td>
            <td th:text="${user.password}">Larry</td>

            <td><a href="" th:href="@{/admin/users/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a></td>

        </tr>
        </tbody>
    </table>
</div>



<div th:replace="~{admin/fragment/script :: script}"></div>
</body>
</html>