<nav th:fragment="header(genreList, countryList)" class="navbar navbar-expand-lg bg-theme mt-1">
  <div class="container-lg gap-nav align-items-center mt-2">
    <a th:href="@{/}" class="navbar-brand text-main logo flex-lg-shrink-0 d-flex align-items-center gap-1">
      <img th:src="${'https://iili.io/JotrYNI.png'}" alt="Logo" class="img-cover">
    </a>
    <button class="navbar-toggler bg-submain" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation-section" aria-controls="navigation-section" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-lg-grow-1 justify-content-between" id="navigation-section">
      <ul class="navbar-nav gap-1">
        <li class="nav-item">
          <a class="nav-link text-main" aria-current="page" th:href="'/'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-main" th:href="'/movies?page=1&size=8'" id="movie-section"
             data-request-condition="" data-request-value="">Movies</a>
        </li>
        <li class="nav-item dropdown">
          <button class="btn text-main btn-link text-decoration-none link-main p-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genre
          </button>
          <ul class="dropdown-menu bg-dark">
            <li th:each="genre : ${genreList}"><a class="dropdown-item text-white" th:href="'/movies/genres/' + ${genre.getName()} + '?page=1&size=8'" th:text="${genre.getName()}"></a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
            <button class="btn text-main btn-link text-decoration-none link-main p-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Country
            </button>
            <ul class="dropdown-menu bg-dark">
                <li th:each="country : ${countryList}"><a class="dropdown-item text-white" th:href="'/movies/countries/' + ${country.getName()} + '?page=1&size=8'" th:text="${country.getName()}"></a></li>
            </ul>
        </li>
        <li class="nav-item d-lg-none d-block">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </li>
        <li class="nav-item bg-submain mt-2 rounded-3 d-lg-none d-block">
          <a href="#" class="nav-link text-black text-center">Your Account</a>
        </li>
        <li class="nav-item bg-submain mt-2 rounded-3 d-lg-none d-block">
          <a href="#" class="nav-link text-black text-center" data-request-name="Bookmark Movies" data-request-type="bookmarks" data-request-condition="" data-request-value="">Your Bookmark</a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center gap-2 d-none d-lg-flex position-relative">
        <li class="nav-item">
          <a class="nav-link text-main search-icon" aria-current="page" href="#">
            <i class="fa-solid fa-magnifying-glass nav-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-main" id="nav-bookmark-icon" href="#" data-request-name="Bookmark Movies" data-request-type="bookmarks" data-request-condition="" data-request-value="">
            <i class="fa-solid fa-bookmark nav-icon"></i>
          </a>
        </li>
        <li class="nav-item text-center avatar-section"></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container d-none search-area">
  <div class="d-flex align-items-center justify-content-end gap-3">
    <input type="text" class="bg-main text-white px-2 py-1 rounded" placeholder="Search movie">
    <a class="btn btn-outline-success" id="search-btn" data-request-type="allmovies" data-request-condition="search">Search</a>
  </div>
</div>